html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,body {
  font-family: Helvetica, sans-serif;
  background-color:#000;
  color:#fff;
	width:100%;
	max-width:100%;
	overflow-x:hidden;
}

#wrapper{
	width:100%;
	overflow-x:hidden;
}
