html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  flex-direction:column;
}

#code{
	width:100%;
	height:90%;
}
#compile_button{
	width:100%;
	height:10%;
}
